<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <section class="bg-g-int p-10 sm:p-16 rounded-xl shadow-xl text-center mb-5">
      
        <h2 class="text-3xl sm:text-4xl font-extrabold text-g-r-bg-d mb-4">
            Queremos novos colaboradores! Teste o Audit.AI
        </h2>
      
        <p class="text-g-int-d text-lg mb-8 max-w-3xl mx-auto">
            Convidamos <strong class="text-g-alert">Auditores</strong>, <strong class="text-g-alert">Corretores</strong> e <strong class="text-g-alert">Profissionais</strong> de órgãos de controle a testar e validar o <strong class="text-g-alert">Audit.AI</strong>. Sua experiência prática é fundamental para o aprimoramento contínuo desta ferramenta no combate à corrupção.
        </p>
        
        <a [href]="'mailto:' + email" class="inline-block px-10 py-4 text-lg font-bold rounded-full bg-g-alert text-g-r-bg shadow-xl transition duration-300 hover:bg-g-alert-alt hover:shadow-2xl hover:scale-105">
            Entre em Contato para Testar
            <span class="ml-2">📧</span>
        </a>
      
        <p class="text-sm mt-4 text-g-int-d">
            Envie um e-mail para: <strong>{{ email }}</strong>
        </p>
    </section>
</div> 